.center.jumbotron
  %h1 Welcome to the Experteese

  - if signed_in?
    = link_to "Proceed to work!", work_path,
 class: "btn btn-lg btn-primary"

  - else
    = link_to "Sign in", signin_path, class: "btn btn-lg btn-primary"
    = link_to "Sign up", signup_path, class: "btn btn-lg btn-secondary"

